body{
    background: linear-gradient(#12c2e9,#c471ed,#f64f59)no-repeat fixed;
}
.wt{
    text-align: center;
    margin-top: 200px;
}
.passwidth{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
    color: red;
}
.butwidth{
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    background:linear-gradient(to bottom right,#f5af19,#f12711);
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.len{
    width: 50px;
}