body{
    font-family: 'Lilita One', sans-serif;
    background:#424347;
}
.container{
    background:orange;
    width: 300px;
    margin-top: 200px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    color: black;
}

.grey{
    color: grey;
    text-decoration: line-through;
}
input{
    margin-left: -15px;
    width: 300px;
    padding: 10px;
}
input:focus{
    outline:none;
}
ul{
    list-style: none;
}
li{
    padding-top: 10px;
    margin-left: -50px;
}